server {
  listen 80 default_server;
  listen [::]:80 default_server;
  server_name _;

  location = /__noops/health {
    add_header Content-Type text/plain;
    return 200 'ok\n';
  }

  location / { return 404; }
}
