version: "3.9"

services:
  {{ .ServiceName }}:
    image: {{ .Image }}
{{- if .UseWrapper }}
    entrypoint: ["/bin/sh", "/bootstrap.sh"]
    command: []
    labels:
      com.noops.original.entrypoint: '{{ .OriginalEntrypoint }}'
      com.noops.original.cmd: '{{ .OriginalCmd }}'
    environment:
{{- range .Secrets }}
      - {{ .EnvKey }}_FILE=/run/secrets/{{ .SecretName }}
{{- end }}
{{- end }}
    env_file:
      - .env
{{- if .Secrets }}
    secrets:
{{- range .Secrets }}
      - source: {{ .SwarmName }}
{{- if $.UseWrapper }}
        target: {{ .SecretName }}
{{- else }}
        target: {{ .EnvKey }}
{{- end }}
        mode: 0400
{{- end }}
{{- end }}
    healthcheck:
      test:
{{- range .HealthcheckTest }}
        - {{ . }}
{{- end }}
      start_period: {{ .HealthcheckStartPeriod }}
      interval: {{ .HealthcheckInterval }}
      timeout: {{ .HealthcheckTimeout }}
      retries: {{ .HealthcheckRetries }}
    deploy:
      replicas: {{ .Replicas }}
      restart_policy:
        condition: {{ .RestartCondition }}
        delay: {{ .RestartDelay }}
        max_attempts: {{ .RestartMaxAttempts }}
        window: {{ .RestartWindow }}
      update_config:
        parallelism: {{ .Parallelism }}
        delay: {{ .RolloutDelay }}
        order: {{ .RolloutOrder }}
        failure_action: {{ .FailureAction }}
    networks:
      - {{ .Network }}

networks:
  {{ .Network }}:
    external: true
{{- if .Secrets }}

secrets:
{{- range .Secrets }}
  {{ .SwarmName }}:
    external: true
{{- end }}
{{- end }}
