{{ define "default" }}server {
  listen 80 default_server;
  listen [::]:80 default_server;
  server_name _;
  server_tokens off;
  location = /__noops/health { return 200; }
  location / { return 404; }
}
{{ end }}

{{ define "external-include" }}{{ if .HasExternal }}include /etc/nginx/conf.d/external/*.conf;
{{ end }}{{ end }}

{{ define "internal-server" }}{{ if .HasInternal }}server {
  listen 80;
  listen [::]:80;
  server_name ingress.noops.internal;
  server_tokens off;
  include /etc/nginx/conf.d/internal/*.conf;
}
{{ end }}{{ end }}

{{ define "all" }}server {
  listen 80 default_server;
  listen [::]:80 default_server;
  server_name _;
  server_tokens off;
  location = /__noops/health { add_header Content-Type text/plain; return 200 'ok\\n'; }
  location / { return 404; }
}
{{ template "external" . }}
{{ if .InternalRoutes }}server {
  listen 80;
  listen [::]:80;
  server_name ingress.noops.internal;
  server_tokens off;
{{ template "internal" . }}
}
{{ end }}{{ end }}

{{ define "external" }}{{ range .Domains }}server {
  listen 80;
  listen [::]:80;
  server_name {{ .Domain }}{{ range .Routes }}{{ range .Domains }} {{ . }}{{ end }}{{ end }};
  server_tokens off;
  location ^~ /.well-known/acme-challenge/ {
    root /var/www/certbot;
  }
{{ if tlsEnabled .Routes }}
  location / { return 308 https://$host$request_uri; }
}
server {
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name {{ .Domain }};
  server_tokens off;
{{ if (tlsCertificate .Routes) }}
  ssl_certificate /etc/noops/certificates/{{ tlsCertificate .Routes }}/fullchain.pem;
  ssl_certificate_key /etc/noops/certificates/{{ tlsCertificate .Routes }}/privkey.pem;
{{ else }}
  ssl_certificate /etc/letsencrypt/live/{{ .Domain }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ .Domain }}/privkey.pem;
{{ end }}
{{ end }}
{{ range .Routes }}
  location {{ .PathPrefix }} {
{{ if .ClientMaxBodySize }}
    client_max_body_size {{ .ClientMaxBodySize }};
{{ end }}
    resolver 127.0.0.11 valid=10s;
    set $upstream {{ .Service }};
    proxy_pass http://$upstream:{{ .Port }}$request_uri;
    proxy_http_version 1.1;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Requested-Host $scheme://$host$request_uri;
{{ if .Websocket }}
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
{{ end }}
}
{{ end }}
}
{{ end }}{{ end }}

{{ define "internal" }}{{ range .InternalRoutes }}location = {{ .Path }} { return 308 {{ .Path }}/; }
location {{ .Path }}/ {
  resolver 127.0.0.11 valid=10s;
  set $upstream {{ .Service }};
  rewrite ^{{ .Path }}/?(.*)$ /$1 break;
  proxy_pass http://$upstream:{{ .Port }}$uri$is_args$args;
  proxy_http_version 1.1;
  proxy_set_header Host $host;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header X-Forwarded-Proto $scheme;
}
{{ end }}{{ end }}
